body,html {
  padding: 0;
  margin: 0;
}
body {
  background: #fafafa;
  color: #444;
}

.main {
  height: 100vh;
  position: relative;
  width: 100%;
}

.me {
  border-radius: 150px;
  height: 150px;
  margin: 0 auto;
  overflow: hidden;
  width: 150px;
}

.me img {
  width: 100%;
  height: auto;
}

.card {
  min-width: 280px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #FFF;
  border: 1px solid #F2F2F2;
  padding: 30px 15px;
  text-align: center;
  width: auto;
}

a {
  color: #000;
  text-decoration: underline;
}